#accordion
  - list.documents.each do |doc|
    %div{"aria-controls" => "collapse-#{doc.id}", "aria-expanded" => "false",
        "data-target" => "#collapse-#{doc.id}",
        "data-toggle" => "collapse", onclick: "FrozeTable('gvMain#{doc.id}',
        'collapse-#{doc.id}');", id: "heading-#{doc.id}"}
      .row
        .col-md-2
        .col-md-6
          %span
            = document_name(doc)
        .col-md-4
          .small
            = doc.status
    .collapse{"aria-labelledby" => "heading-#{doc.id}", "data-parent" => "#accordion", id: "collapse-#{doc.id}"}
      .row.no-margin
        .container
          .table
            - if doc.present?
              = render 'csv_preview', doc: doc, list: list

          %span.float-left
            = render 'import_to_db_form', doc: doc, list: list

          %span.float-right.pr-5
            %i.prev.fa.fa-chevron-left.text-primary{style: 'cursor: pointer;', onclick: "ScrollLeft(#{doc.id})"}
            %i.next.fa.fa-chevron-right.text-primary{style: 'cursor: pointer;', onclick: "ScrollRight(#{doc.id})"}