%tr.bordered-top{"data-target" => "#file-list-#{list.id}", "data-toggle" => "modal"}
  %td= list.list_name
  %td= list.comments
  %td= 'Quantity'
  %td= 'Date Posted'
  %td= 'Uploaded by	'
  %td= 'Status'
  %td
    delete btn
