= form_for list.documents.new, url: home_import_list_path, id: 'import_list', remote: true do |f|
  = f.file_field :file_example, type: 'file', placehold: 'Add New File', id: 'new-file', style: 'display: none;'
  = f.label 'New File', id: 'new-file-label', for: 'new-file', class: 'btn btn-sm btn-outline-primary mb-0 pt-2'
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field(:list_id, value: list.id)
  = f.button 'Submit', class: 'btn btn-primary btn-sm', disabled: true, id: 'submit-form'

:javascript
  $(document).on('change', ':file', function() {
    if($('#new-file-label').text().length != 0)
      $('#submit-form').attr('disabled', false);
    else
      $('#submit-form').attr('disabled',true);
    })

   $("[type=file]").on("change", function(){
    var file = this.files[0].name;
    var dflt = $(this).attr("placeholder");
    if($(this).val()!=""){
      $(this).next().text(file);
    } else {
      $(this).next().text(dflt);
    }
  });